# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.pytest_cache/
.coverage
htmlcov/
.cache/
.mypy_cache/
.pyright/
.env
.venv
venv/
# IDE
.idea/
.vscode/
# Local files
.env*
*.log
*.sqlite3
*.db
*.DS_Store
